<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>XUI框架</title>
		<meta http-equiv = "X-UA-Compatible" content = "IE=edge,chrome=1" />
		<meta name="keywords" content="XUI框架" />
		<meta name="description" content="XUI框架" />
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<link rel="shortcut icon" href="../assets/favicon.ico">
	</head>
	<body>
		<h2 class="font-size24 color-blue mb-20">width - height 宽度高度</h2>
		<h3 class="mb-20">宽度(class="width- + xx")</h3>
		<div>
			<button class="btn btn-default width-auto">width-auto</button>
			<button class="btn btn-default width-100">width-100</button>
			<button class="btn btn-default width-140">width-140</button>
			<button class="btn btn-default width-150">width-150</button>
			<button class="btn btn-default width-200">width-200</button>
		</div>
		<button class="btn btn-default width100 mt-10 mb-10">width100</button>
		<p>width可选值: 60, 80, 100, 120, 140, 150, 200, 250, 300, 350, 450, 750, 960, 1200, width100, width-auto</p>

		<pre>
      .width-60 {
        width: 60px;
      }
      .width-80 {
        width: 80px;
      }
      .width-100 {
        width: 100px;
      }
      .width-120 {
        width: 120px;
      }
      .width-140 {
        width: 140px;
      }
      .width-150 {
        width: 150px;
      }
      .width-200 {
        width: 200px;
      }
      .width-250 {
        width: 250px;
      }
      .width-300 {
        width: 300px;
      }
      .width-350 {
        width: 350px;
      }
      .width-450 {
        width: 450px;
      }
      .width-750 {
        width: 750px;
      }
      .width-960 {
        width: 960px;
      }
      .width-1200 {
        width: 1200px;
      }
      .width100 {
        width: 100%;
      }
      .width-auto {
        width: auto;
      }
		</pre>
	</body>
</html>
