<!doctype html> <html> <head> <meta charset=UTF-8> <title>XUI框架</title> <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1"/> <meta name=keywords content=XUI框架 /> <meta name=description content=XUI框架 /> <meta name=renderer content=webkit> <meta name=viewport content="width=device-width,initial-scale=1,user-scalable=no"/> <link rel="shortcut icon" href=../assets/favicon.ico> <link href="../css/views/alert.28e11178.css" rel="stylesheet"></head> <body> <h2 class="font-size24 color-blue mb-20">alert 提示</h2> <p class=mb-20>最简单使用方法: xui.alert('这个是测试alert', '提示')</p> <button class="btn btn-primary mr-20">alert</button> <button class="btn btn-danger mr-20">删除操作</button> <pre>
      xui.alert('这个是测试alert', '提示', {
        showCancelButton: false,		//是否显示取消按钮
        cancelButtonText: '取消',		//取消按钮文本
        confirmButtonText: '确定', 	//确定按钮的文本
        cancelButtonClass: '',			//取消按钮的自定义类名
        confirmButtonClass: '',			//确定按钮的自定义类名
        callback(n) {
          xui.toast(n == 1 ? '点击了确定': '点击了取消')
        }
      })
		</pre> <pre>
      .message {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 1000000;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, .5);
        opacity: 0;
      }
      .message .box {
        width: 420px;
        padding: 10px 15px;
        background: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
        position: absolute;
        top: 44%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .message .box .x-guanbi {
        font-size: 22px;
        color: #999;
      }
      .message .box .x-guanbi:hover {
        color: #0ae;
      }
      .message .box .content {
        padding: 15px 0;
        color: #666;
      }
		</pre> <pre>
      function message(msg = '', title ='提示', obj = {}) {
        var str = `&lt;div class="message"&gt;
          &lt;div class="alert box"&gt;
          &lt;header class="clearfix"&gt;
            &lt;p class="fl font-size18"&gt;${title}&lt;/p&gt;
            &lt;i class="iconfont pointer fr x-guanbi"&gt;&lt;/i&gt;
          &lt;/header&gt;`

        if (obj.messageType == 'prompt') {
          str += `&lt;div class="content"&gt;
              &lt;p class="mb-20"&gt;${msg}&lt;/p&gt;
              &lt;input type="text" class="width100 ${obj.inputClass || ''}" autofocus
                maxlength="${obj.maxLength || 10000}" value="${obj.inputValue || ''}"
                placeholder="${obj.placeholder || ''}" /&gt;
            &lt;/div&gt;
            &lt;div class="text-right"&gt;`
        } else {
          str += `&lt;div class="content"&gt;${msg}&lt;/div&gt;
            &lt;div class="text-right"&gt;`
        }

        if (obj.showCancelButton) {
          str += `&lt;button class="btn btn1 ${obj.cancelButtonClass || 'btn-default'} iconfont mr-10"&gt;
                ${obj.cancelButtonText || '取消'}
              &lt;/button&gt;`
        }
        str += `&lt;button class="btn btn2 ${obj.confirmButtonClass || 'btn-primary'}"&gt;
                  ${obj.confirmButtonText || '确定'}
                &lt;/button&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;`

        var box = $(str).appendTo(document.body)
        box.animate({ opacity: 1 }, 250).find('.box').animate({ top: '50%'}, 250)
        box.find('.iconfont').on('click', function(){
          hide()
        })

        box.find('.btn1').on('click', function() {
          obj.callback && obj.callback(-1)
          hide()
        })

        box.find('.btn2').on('click', function() {
          if (obj.messageType == 'prompt') {
            var value = box.find('input').val()
            var lock = true
            if (obj.valid) {
              lock = obj.valid(value) === false ? false : true
            }
            if (lock) {
              hide()
              obj.callback && obj.callback(value)
            }
          } else {
            obj.callback && obj.callback(1)
            hide()
          }
        })

        if (obj.closeOnClickModal) {
          box.on('click', function() {
            hide()
          })
          box.find('.box').on('click', function(e) {
            e.stopPropagation()
          })
        }

        function hide() {
          box.animate({ opacity: 0 }, 250, function() {
            box.remove()
          }).find('.box').animate({ top: '44%'}, 250)
        }
      }

      function alert(msg, title, obj = {}) {
        message(msg, title, obj)
      }

      function confirm(msg, title, obj = {}) {
        obj.closeOnClickModal = obj.closeOnClickModal !== false
        obj.showCancelButton = obj.showCancelButton !== false
        message(msg, title, obj)
      }

      function prompt(msg, title, obj = {}) {
        obj.messageType = 'prompt'
        obj.closeOnClickModal = obj.closeOnClickModal !== false
        obj.showCancelButton = obj.showCancelButton !== false
        message(msg, title, obj)
      }
		</pre> <script src=https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js></script> <script type="text/javascript" src="../js/views/alert.1d221da6.js"></script></body> </html> 