<!doctype html> <html> <head> <meta charset=UTF-8> <title>XUI框架</title> <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1"/> <meta name=keywords content=XUI框架 /> <meta name=description content=XUI框架 /> <meta name=renderer content=webkit> <meta name=viewport content="width=device-width,initial-scale=1,user-scalable=no"/> <link rel="shortcut icon" href=../assets/favicon.ico> <link href="../css/views/background.1b2cac70.css" rel="stylesheet"></head> <body> <h2 class="font-size24 color-blue mb-20">background 背景颜色</h2> <h3 class=mb-20>背景色(class="bg- + xx")</h3> <ul class="font-size clearfix mt-10"> <li class=bg-primary>bg-primary</li> <li class=bg-success>bg-success</li> <li class=bg-warning>bg-warning</li> <li class=bg-info>bg-info</li> <li class=bg-danger>bg-danger</li> <li class=bg-green>bg-green</li> <li class=bg-blue>bg-blue</li> <li class=bg-white>bg-white</li> </ul> <pre>
      .bg-primary {
        background: #409eff;
      }
      .bg-success {
        background: #dff0d8;
      }
      .bg-warning {
        background: #fcf8e3;
      }
      .bg-info {
        background: #d9edf7;
      }
      .bg-danger {
        background: #f2dede;
      }
      .bg-green {
        background: #42b983;
      }
      .bg-blue {
        background: #008cff;
      }
      .bg-white {
        background: #fff;
      }
  	</pre> <script type="text/javascript" src="../js/views/background.77242635.js"></script></body> </html> 