<!doctype html> <html> <head> <meta charset=UTF-8> <title>XUI框架</title> <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1"/> <meta name=keywords content=XUI框架 /> <meta name=description content=XUI框架 /> <meta name=renderer content=webkit> <meta name=viewport content="width=device-width,initial-scale=1,user-scalable=no"/> <link rel="shortcut icon" href=../assets/favicon.ico> <link href="../css/views/code.d4f70cc1.css" rel="stylesheet"></head> <body> <h2 class="font-size24 color-blue mb-20">code 代码修饰器</h2> <pre>
      ol, h3 {
        margin: 0;
        padding: 0;
        -webkit-tap-highlight-color:rgba(0,0,0,0);
      }
      pre{
        white-space: pre-wrap;
        word-wrap: break-word;
      }
      .code {
        position: relative;
        margin: 10px 0;
        padding: 15px;
        line-height: 20px;
        border: 1px solid #ddd;
        border-left-width: 6px;
        background-color: #F2F2F2;
        color: #333;
        font-family: Courier New;
        font-size: 12px;
      }
      .code-view{
        display: block;
        position: relative;
        margin: 10px 0;
        padding: 0;
        border: 1px solid #e2e2e2;
        border-left-width: 6px;
        background-color: #F2F2F2;
        color: #333;
        font-family: Courier New;
        font-size: 12px;
      }
      .code-h3{
        position: relative;
        padding: 0 10px;
        height: 32px;
        line-height: 32px;
        border-bottom: 1px solid #e2e2e2;
        font-size: 12px;
      }
      .code-h3 a{
        position: absolute;
        right: 10px;
        top: 0;
        color: #999;
      }
      .code-view .code-ol{
        position: relative;
        overflow: auto;
      }
      .code-view .code-ol li{
        position: relative;
        margin-left: 45px;
        line-height: 20px;
        padding: 0 5px;
        border-left: 1px solid #e2e2e2;
        list-style-type: decimal-leading-zero;
        *list-style-type: decimal;
        background-color: #fff;
      }
      .code-view pre {
        margin: 0;
      }
      .code-notepad{
        border: 1px solid #0C0C0C;
        border-left-color: #3F3F3F;
        background-color: #0C0C0C;
        color: #C2BE9E
      }
      .code-notepad .code-h3{
        border-bottom: none;
      }
      .code-notepad .code-ol li{
        background-color: #3F3F3F;
        border-left: none;
      }
		</pre> <pre>
      var elems = [];
      var options = {};
      
      $('pre').each(function () {
        elems.push(this);
      });
      elems.reverse().forEach(function (item) {
        var othis = $(item), html = othis.html();
        if (othis.attr('lay-encode') || options.encode) {
          html = html.replace(/&(?!#?[a-zA-Z0-9]+;)/g, '&amp;')
            .replace(//g, '&gt;').replace(/'/g, '&#39;').replace(/"/g, '&quot;')
        }
        
        othis.html('&lt;ol class="code-ol"&gt;&lt;li&gt;' + html.replace(/[\r\t\n]+/g, '&lt;li&gt;&lt;li&gt;') + '&lt;/li&gt;&lt;ol&gt;')
        
        if (!othis.find('>.code-h3')[0]) {
          othis.prepend('&lt;h3 class="code-h3"&gt;' + (othis.attr('lay-title') || 'code') + '&lt;h3&gt;');
        }
        
        othis.addClass('code-view');
        
        //识别皮肤
        if (othis.attr('lay-skin') || options.skin) {
          othis.addClass('code-' + (othis.attr('lay-skin') || options.skin));
        }
        
        //按行数适配左边距
        var ol = othis.find('>.code-ol');
        if ((ol.find('li').length / 100 | 0) > 0) {
          ol.css('margin-left', (ol.find('li').length / 100 | 0) + 'px');
        }
        
        //设置最大高度
        if (othis.attr('lay-height')) {
          ol.css('max-height', othis.attr('lay-height'));
        }
      });
		</pre> <script src=https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js></script> <script type="text/javascript" src="../js/views/code.f26b9b3d.js"></script></body> </html> 