<!doctype html> <html> <head> <meta charset=UTF-8> <title>XUI框架</title> <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1"/> <meta name=keywords content=XUI框架 /> <meta name=description content=XUI框架 /> <meta name=renderer content=webkit> <meta name=viewport content="width=device-width,initial-scale=1,user-scalable=no"/> <link rel="shortcut icon" href=../assets/favicon.ico> <link href="../css/views/dropdown.7f1a6ff4.css?d42e8dfffb586b553b03" rel="stylesheet"></head> <body> <h2 class="font-size24 color-blue mb-20">dropdown 下拉菜单</h2> <a class="dropdown mr-20"> <span>下拉菜单<i class="iconfont x-caretdown"></i></span> <ul> <li>黄金糕</li> <li>狮子头</li> <li>大闸蟹</li> <li>清蒸鱼大龙虾啤酒鸭虾</li> <li>双皮奶</li> <li>啤酒鸭</li> <li>炒河粉</li> <li>大龙虾</li> </ul> </a> <a class=dropdown> <button class="btn btn-primary">下拉菜单<i class="iconfont x-caretdown"></i></button> <ul> <li>黄金糕</li> <li>狮子头</li> <li>大闸蟹</li> <li>清蒸鱼大龙虾啤酒鸭虾</li> <li>双皮奶</li> <li>啤酒鸭</li> <li>炒河粉</li> <li>大龙虾</li> </ul> </a> <pre>
      &lt;a class="dropdown"&gt;
        &lt;span&gt;下拉菜单&lt;i class="iconfont x-caretdown"&gt;&lt;/i&gt;&lt;/span&gt;
        &lt;ul&gt;
          &lt;li&gt;黄金糕&lt;/li>
          &lt;li&gt;狮子头&lt;/li&gt;
          &lt;li&gt;大闸蟹&lt;/li&gt;
          &lt;li&gt;清蒸鱼大龙虾啤酒鸭虾&lt;/li&gt;
          &lt;li>双皮奶&lt;/li&gt;
          &lt;li>啤酒鸭&lt;/li&gt;
          &lt;li>炒河粉&lt;/li&gt;
          &lt;li>大龙虾&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/a&gt;
		</pre> <pre>
      .dropdown {
        cursor: pointer;
        position: relative;
      }
      .dropdown span {
        color: #0ae;
      }
      .dropdown ul {
        width: 180px;
        max-height: 130px;
        position: absolute;
        left: 0;
        top: 31px;
        border: 1px solid #dfdfdf;
        overflow-y: auto;
        border-radius: 4px;
        background: #fff;
        padding: 10px 0;
        z-index: 999;
        display: none;
        box-shadow: 0 4px 8px rgba(0,0,0,.175);
      }
      .dropdown ul li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 10px 0 15px;
      }
      .dropdown ul li:hover {
        background: #d9edf7;
      }
		</pre> <pre>
      $(document).find('.dropdown span, .dropdown .btn').on('click', function(e) {
        e.stopPropagation()
        $(this).next().slideToggle(100)
      })
      $(document).off('click').on('click', function() {
        $('.dropdown ul').slideUp(100)
      })
		</pre> <script src=https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js></script> <script type="text/javascript" src="../js/views/dropdown.a63fcbe8.js?d42e8dfffb586b553b03"></script></body> </html> 