<!doctype html> <html> <head> <meta charset=UTF-8> <title>XUI框架</title> <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1"/> <meta name=keywords content=XUI框架 /> <meta name=description content=XUI框架 /> <meta name=renderer content=webkit> <meta name=viewport content="width=device-width,initial-scale=1,user-scalable=no"/> <link rel="shortcut icon" href=../assets/favicon.ico> <link href="../css/views/toast.159fa3ce.css?d42e8dfffb586b553b03" rel="stylesheet"></head> <body> <h2 class="font-size24 color-blue mb-20">toast 消息提示</h2> <p class=mb-20>使用方法: xui.toast('成功'), xui.toast('警告', 'warning'), xui.toast('警告', 'error')</p> <button class="btn btn-success mr-20">成功</button> <button class="btn btn-warning mr-20">警告</button> <button class="btn btn-danger">错误</button> <pre>
      .xui-toast {
        min-width: 240px;
        max-width: 350px;
        min-height: 40px;
        position: fixed;
        display: inline-block;
        border: 1px solid #dfdfdf;
        border-radius: 4px;
        padding: 10px 10px 10px 50px;
        line-height: 20px;
        left: 50%;
        top: 0;
        z-index: 1110000;
        word-wrap: break-word;
        opacity: 0;
        transform: translateX(-50%);
      }
      .xui-toast i {
        position: absolute;
        font-size: 28px;
        left: 10px;
        top: 50%;
        margin-top: -10px;
      }
      .xui-toast.success {
        background: #dff0d8;
      }
      .xui-toast.success i {
        color: #42b983;
      }
      .xui-toast.warning {
        background: #fcf8e3;
      }
      .xui-toast.warning i {
        color: #e6a23c;
      }
      .xui-toast.success {
        background: #dff0d8;
      }
      .xui-toast.success i {
        color: #42b983;
      }
      .xui-toast.error {
        background: #f2dede;
      }
      .xui-toast.error i {
        color: #ff4949;
      }        
		</pre> <pre>
      function toast(msg, type = 'success') {
        var obj = {
          success: 'x-select iconfont',
          warning: 'x-warning iconfont',
          error: 'x-error iconfont'
        }
        var box = $('&lt;div class="xui-toast '+ type +'\"&gt;&lt;i class=\"'+ obj[type] +'\"&gt;&lt;/i&gt;' + msg + '&lt;/div&gt;').appendTo(document.body)
        box.animate({ top: 100, opacity: 1 }, 300)
        setTimeout(function() {
          box.fadeOut(400, function() {
            box.remove()
          })
        }, 2000)
      }
		</pre> <script src=https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js></script> <script type="text/javascript" src="../js/views/toast.6971e386.js?d42e8dfffb586b553b03"></script></body> </html> 