.bg-primary {
  background: #409eff;
}
.bg-success {
  background: #dff0d8;
}
.bg-warning {
  background: #fcf8e3;
}
.bg-info {
  background: #d9edf7;
}
.bg-danger {
  background: #f2dede;
}
.bg-green {
  background: #42b983;
}
.bg-blue {
  background: #008cff;
}
.bg-white {
  background: #fff;
}
