.default {
  cursor: default;
}
.pointer {
  cursor: pointer;
}
.crosshair {
  cursor: crosshair;
}
.move {
  cursor: move;
}
.e-resize {
  cursor: e-resize;
}
.ne-resize {
  cursor: ne-resize;
}
.nw-resize {
  cursor: nw-resize;
}
.n-resize {
  cursor: n-resize;
}
.se-resize {
  cursor: se-resize;
}
.sw-resize {
  cursor: sw-resize;
}
.s-resize {
  cursor: s-resize;
}
.w-resize {
  cursor: w-resize;
}
.text {
  cursor: text;
}
.wait {
  cursor: wait;
}
.help {
  cursor: help;
}
.grab {
  cursor: grab;
  cursor: -webkit-grab;
}
.zoom-in {
  cursor: zoom-in;
}
.zoom-out {
  cursor: zoom-out;
}
.not-allowed {
  cursor: not-allowed;
}
