.font-size12 {
  font-size: 12px;
}
.font-size13 {
  font-size: 13px;
}
.font-size14 {
  font-size: 14px;
}
.font-size15 {
  font-size: 15px;
}
.font-size16 {
  font-size: 16px;
}
.font-size18 {
  font-size: 18px;
}
.font-size20 {
  font-size: 20px;
}
.font-size22 {
  font-size: 22px;
}
.font-size24 {
  font-size: 24px;
}
.font-size26 {
  font-size: 26px;
}

.color-primary {
  color: #337ab7;
}
.color-success {
  color: #3c763d;
}
.color-info {
  color: #31708f;
}
.color-warning {
  color: #e6a23c;
}
.color-0ae {
  color: #0ae;
}
.color-333 {
  color: #333;
}
.color-666 {
	color: #666;
}
.color-999 {
	color: #999;
}
.color-green {
  color: #42b983;
}
.color-blue {
	color: #008cff;
}
.color-fff {
  color: #fff;
}
.color-red {
  color: #ff4949;
}
.color-danger {
  color: #a94442;
}
