.multi-select-box {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.multi-select-box .multi-select {
	cursor: pointer;
	background: #fff;
	width: 200px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.multi-select-box .multi-select-ul {
	position: absolute;
	left: 0;
	top: 37px;
	max-height: 200px;
	overflow-y: auto;
	cursor: pointer;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 250px;
	display: none;
	padding: 10px 0;
}
.multi-select-box .multi-select-ul li {
	line-height: 30px;
	position: relative;
	padding: 0 22px 0 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.multi-select-box .multi-select-ul li i {
	float: right;
	font-size: 18px;
	position: absolute;
	top: 0;
	right: 10px;
	color: #ccc;
}
.multi-select-box .multi-select-ul li .active {
	color: #0ae;
}
.multi-select-box .multi-select-ul li:hover {
	background: #d9edf7;
}