.pagination {
  height: 34px;
  line-height: 34px;
  overflow: hidden;
}
.pagination button, .pagination input {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
  border-radius: 3px;
}
.pagination button {
  background: #fff;
  outline: none;
  border: 1px solid #dfdfdf;
  padding: 0 12px;
  cursor: pointer;
  margin-right: 5px;
}
.pagination button[disabled]:hover {
  cursor: not-allowed;
  opacity: 0.6;
}
.pagination input {
  width: 50px;
  outline: none;
  padding: 0 5px;
  border: 1px solid #dfdfdf;
}
.pagination .active {
  background: #0ae;
  color: #fff;
}