input[type="radio"], input[type="checkbox"] {
  width: 24px;
  height: 24px;
  font-size: 24px;
  margin: 0;
  -webkit-appearance: none;
  font-family:"iconfont" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0ae;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
}
input[type="radio"]:before {
  content: "\E72F";
}
input[type="radio"]:checked:before {
  content: "\E71E";
}
input[type="radio"]:disabled, input[type="checkbox"]:disabled {
  cursor: not-allowed;
}
input[type="checkbox"]:before {
  content: "\E720";
}
input[type="checkbox"]:checked:before {
  content: "\E721";
}
