.width-60 {
  width: 60px;
}
.width-80 {
	width: 80px;
}
.width-100 {
  width: 100px;
}
.width-120 {
	width: 120px;
}
.width-140 {
  width: 140px;
}
.width-150 {
  width: 150px;
}
.width-200 {
	width: 200px;
}
.width-250 {
	width: 250px;
}
.width-300 {
	width: 300px;
}
.width-350 {
	width: 350px;
}
.width-450 {
	width: 450px;
}
.width-750 {
  width: 750px;
}
.width-960 {
  width: 960px;
}
.width-1200 {
  width: 1200px;
}
.width100 {
  width: 100%;
}
.width-auto {
  width: auto;
}
