<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>XUI框架</title>
		<meta http-equiv = "X-UA-Compatible" content = "IE=edge,chrome=1" />
		<meta name="keywords" content="XUI框架" />
		<meta name="description" content="XUI框架" />
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<link rel="shortcut icon" href="../assets/favicon.ico">
	</head>
	<body>
		<h2 class="font-size24 color-blue mb-20">padding - margin 内外边距</h2>
    <table class="table">
      <thead>
        <tr><th>类名</th><th>描述</th></tr>
      </thead>
      <tbody></tbody>
    </table>

  	<pre>
      .margin0-auto {
        margin: 0 auto;
      }
      .pt-5 {
        padding-top: 5px;
      }
      .pr-5 {
        padding-right: 5px;
      }
      .pb-5 {
        padding-bottom: 5px;
      }
      .pl-5 {
        padding-left: 5px;
      }
      .pt-10 {
        padding-top: 10px;
      }
      .pr-10 {
        padding-right: 10px;
      }
      .pb-10 {
        padding-bottom: 10px;
      }
      .pl-10 {
        padding-left: 10px;
      }
      .pt-15 {
        padding-top: 15px;
      }
      .pr-15 {
        padding-right: 15px;
      }
      .pb-15 {
        padding-bottom: 15px;
      }
      .pl-10 {
        padding-left: 10px;
      }
      .pt-20 {
        padding-top: 20px;
      }
      .pr-20 {
        padding-right: 20px;
      }
      .pb-20 {
        padding-bottom: 20px;
      }
      .pl-20 {
        padding-left: 20px;
      }
      .padding-5 {
        padding: 5px;
      }
      .padding-10 {
        padding: 10px;
      }
      .padding-15 {
        padding: 15px;
      }
      .padding-20 {
        padding: 20px;
      }
      
      .mt-5 {
        margin-top: 5px;
      }
      .mr-5 {
        margin-right: 5px;
      }
      .mb-5 {
        margin-bottom: 5px;
      }
      .ml-5 {
        margin-left: 5px;
      }
      .mt-10 {
        margin-top: 10px;
      }
      .mr-10 {
        margin-right: 10px;
      }
      .mb-10 {
        margin-bottom: 10px;
      }
      .ml-10 {
        margin-left: 10px;
      }
      .mt-15 {
        margin-top: 15px;
      }
      .mr-15 {
        margin-right: 15px;
      }
      .mb-15 {
        margin-bottom: 15px;
      }
      .ml-15 {
        margin-left: 15px;
      }
      .mt-20 {
        margin-top: 20px;
      }
      .mr-20 {
        margin-right: 20px;
      }
      .mb-20 {
        margin-bottom: 20px;
      }
      .ml-20 {
        margin-left: 20px;
      }
      .margin-5 {
        margin: 5px;
      }
      .margin-10 {
        margin: 10px;
      }
      .margin-15 {
        margin: 15px;
      }
      .margin-20 {
        margin: 20px;
      }
      .col-no-padding {
        padding-left: 0;
        padding-right: 0;
      }
      .col-no-margin {
        margin-left: 0;
        margin-right: 0;
      }        
  	</pre>

		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	</body>
</html>
