@import "../../styles/xui.scss";
body {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 40px 40px;
}
.content {
  a {
    display: block;
    float: left;
    margin: 0 20px 20px 0;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    overflow: hidden;
  }
  img, div {
    display: inline-block;
    width: 152px;
    height: 88px;
    text-align: center;
    line-height: 88px;
    font-size: 26px;
  }
  .bg-dark {
    background: #000;
  }
  .bg-red {
    background: #b72f20;
  }
}
