<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>XUI框架介绍,开发指南</title>
		<meta http-equiv = "X-UA-Compatible" content = "IE=edge,chrome=1" />
		<meta name="keywords" content="XUI框架介绍, 开发指南" />
		<meta name="description" content="XUI框架介绍, 开发指南" />
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<link rel="shortcut icon" href="../assets/favicon.ico">
	</head>
	<body>
    <h2 class="font-size24 color-blue mb-20">开发指南</h2>
    <p class="color-blue mb-20">公司公共样式表, 仅限公司内部使用, 实现公司界面样式统一</p>
		<p class="mb-20">UI模块是在参考了众多UI框架源码, 在结合公司所有的项目基础上改写的。</p>

		<p class="mt-20 mb-20">参考了以下UI框架:</p>
		<div class="content clearfix">
			<a href="http://www.bootcss.com/" target="_blank">
				<img src="../../assets/Bootstrap.gif" alt="" title="">
			</a>
			<a href="http://www.jeasyui.com/" target="_blank">
				<img src="../../assets/easyui.png" alt="" title="">
			</a>
			<a href="http://www.jeasyui.net/" target="_blank">
				<div class="bg-dark color-fff">easyui中文</div>
			</a>
			<a href="http://www.getuikit.net/" target="_blank">
				<div class="bg-red color-fff">uiKit</div>
			</a>
			<a href="http://www.h-ui.net/" target="_blank">
				<div class="bg-fff color-red">H-ui</div>
			</a>
			<a href="http://www.layui.com/" target="_blank">
				<div class="bg-fff color-red">layui</div>
			</a>
			<a href="http://www.builive.com/index.php" target="_blank">
				<div class="bg-fff color-red">BUI</div>
			</a>
		</div>
	</body>
</html>
