<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>XUI框架</title>
		<meta http-equiv = "X-UA-Compatible" content = "IE=edge,chrome=1" />
		<meta name="keywords" content="XUI框架" />
		<meta name="description" content="XUI框架" />
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<link rel="shortcut icon" href="../assets/favicon.ico">
	</head>
	<body>
		<h2 class="font-size24 color-blue mb-20">text 文本样式</h2>
    <h3 class="mb-20">文本对齐转换(class="text- + xx") 小写</h3>
    <ul class="font-size clearfix mt-10">
      <li class="text-center">text-center</li>
      <li class="text-left">text-left</li>
      <li class="text-right">text-right</li>
      <li class="text-justify">text-justify</li>
      <li class="text-nowrap">text-nowrap sdfsdfsd</li>
      <li class="text-wrap" style="line-height:20px;">text-wrap sdfsdfsd</li>
      <li class="text-lowercase" style="line-height:20px;">text-lowercase BAT</li>
      <li class="text-uppercase">text-uppercase</li>
      <li class="text-capitalize">text-capitalize</li>
      <li class="text-overflow">text-overflow sdfsd</li>
    </ul>

  	<pre>
      .text-center {
        text-align: center!important;
      }
      .text-left {
        text-align: left!important;
      }
      .text-right {
        text-align: right!important;
      }
      .text-justify {
        text-align: justify!important;
      }
      .text-nowrap {
        white-space: nowrap;
      }
      .text-wrap {
        white-space: normal;
      }
      .text-lowercase {
        text-transform: lowercase;
      }
      .text-uppercase {
        text-transform: uppercase;
      }
      .text-capitalize {
        text-transform: capitalize;
      }
      .text-overflow {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
  	</pre>
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	</body>
</html>
