.x-actionsheet {
  display: none;
  .overlay, section {
    position: fixed;
    z-index: $zIndexHeader + 1;
    left: 0;
    right: 0;
  }
  .overlay {
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
  }

  section {
    text-align: center;
    bottom: 10px;
  }
  ul {
    margin: 0 10px 10px;
    background: #fff;
    border-radius: 3px;
    li {
      height: 44px;
      line-height: 44px;
      border-bottom: 1px solid #dbdbdb;
      &:last-child {
        border-radius: 0 0 3px 3px;
      }
    }
  }
}
