div, p, h1, h2, h3, h4, h5, h6, header, section, footer, input, textarea, select,
span, strong, em, i, b, th, td, tr, tbody, thead, table, article, nav, aside, dl,
dt, dd, small, canvas, audio, video, datalist, hgroup, mark, progress, time, a,
address, form, button, ul, li, ol, main, summary, img {
  box-sizing: border-box;
}
html {
  font-family: 'Microsoft Yahei',"sans-serif";
  color: #333;
}
body, figure, p, ul, ol, menu, dd {
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight:bold;
  font-size:100%;
}
img {
  border: 0;
  display: block;
  vertical-align: middle;
}
a, a:link, a:hover {
  color: #333;
  text-decoration: none;
}
ul, ol {
  list-style: none;
}
menu, ul, ol {
  padding: 0;
}
input[type="text"], button, textarea, select {
  border: 1px solid #999;
  border-radius: 3px;
  height: 34px;
  outline: none;
}
input[type="text"], textarea {
  width: 200px;
  padding: 5px;
}
select {
  width: 150px;
}
input[type="checkbox"], input[type="radio"] {
  width: auto;
  height: auto;
  margin: 0;
}
textarea {
  resize: none;
}
/*按钮样式*/
button, input[type="button"] {
  width: 100px;
  outline: none;
  background: #0ae;
  border: 0;
  color: #fff;
  cursor: pointer;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  background: #f5f5f5;
  display: block;
  padding: 0;
  margin: 20px 0;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.btn-default {
  border: 1px solid #ccc;
  background: #fff;
  color: #333;
}
.btn-default:hover, .btn-default:focus {
  background: #e6e6e6;
  border: 1px solid #adadad;
}
.btn-warning {
  background: #f0ad4e;
  border: 1px solid #eea236;
}
.btn-warning:hover, .btn-warning:focus {
  background: #ec971f;
  border: 1px solid #d58512;
}
.btn-danger {
  background: #d9534f;
  border-color: 1px solid #d43f3a;
}
.btn-danger:hover, .btn-danger:focus {
  background: #c9302c;
  border: 1px solid #ac2925;
}
.btn-danger[disabled]:hover, .btn-warning[disabled]:hover,
button[disabled]:hover, .btn-default[disabled]:hover {
  cursor: not-allowed;
  opacity: 0.6;
}

.border-radius0 {
  border-radius: 0;
}
.border-radius3 {
  border-radius: 3px;
}
.border-radius100 {
  border-radius: 100%;
}

.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  content: '';
  height: 0;
  clear: both;
  overflow: hidden;
  display: block;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.invisible {
  visibility: hidden;
}
.inline-block {
  display: inline-block;
}
.display-inline {
  display: inline;
}
.display-block {
  display: block;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.margin0-auto {
  margin: 0 auto;
}
.pt-10 {
  padding-top: 10px;
}
.pr-10 {
  padding-right: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pl-10 {
  padding-left: 10px;
}
.padding-10 {
  padding: 10px;
}
.col-no-padding {
  padding-left: 0;
  padding-right: 0;
}
.col-no-margin {
  margin-left: 0;
  margin-right: 0;
}
.padding-5 {
  padding: 5px;
}
.pt-20 {
  padding-top: 20px;
}
.pr-20 {
  padding-right: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pl-20 {
  padding-left: 20px;
}
.padding-20 {
  padding: 20px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-20 {
  margin-left: 20px;
}

.width-80 {
	width: 80px;
}
.width-120 {
	width: 120px;
}
.width-150 {
  width: 150px;
}
.width-200 {
	width: 200px;
}
.width-250 {
	width: 250px;
}
.width-300 {
	width: 300px;
}
.width-350 {
	width: 350px;
}
.width-960 {
  width: 960px;
}
.height-auto {
  height: auto;
}
.width-auto {
  width: auto;
}
.height-34 {
  height: 34px;
}
.no-border {
  border: none;
}

.bg-primary {
  background: #0ae;
}
.bg-success {
  background: #dff0d8;
}
.bg-warning {
  background: #fcf8e3;
}
.bg-info {
  background: #d9edf7;
}
.bg-danger {
  background: #f2dede;
}
.bg-green {
  background: #42b983;
}
.bg-white {
  background: #fff;
}
.color-0ae {
  color: #0ae;
}
.color-333 {
  color: #333;
}
.color-666 {
	color: #666;
}
.color-999 {
	color: #999;
}
.color-green {
  color: #42b983;
}
.color-white {
  color: #fff;
}
.small {
  font-size: 12px;
}
.font-size14 {
  font-size: 14px;
}
.font-size16 {
  font-size: 16px;
}
.font-size18 {
  font-size: 18px;
}

.opacity0 {
  opacity: 0;
}
.opacity-50 {
	opacity: 0.5;
}
.opacity-1 {
	opacity: 1;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.cursor-pointer {
  cursor: pointer;
}

.table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.table th, .table td {
  height: 34px;
  border: 1px solid #dfdfdf;
}
.table tr:hover td{
  background: #e6effb;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin: -2px 0 0 2px;
  vertical-align: middle;
  border-top: 4px solid #333;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.has-feedback {
  width: 350px;
}
.form-control {
  width: calc(100% - 50px);
  border-radius: 3px 0 0 3px;
}
.form-control-feedback {
  width: 50px;
  height: 34px;
  line-height: 34px;
  vertical-align: middle;
  border: 1px solid #999;
  border-left: none;
  border-radius: 0 3px 3px 0;
}
.file {
  position: relative;
  display: inline-block;
  background: #ccc;
  border: 1px solid #333;
  padding: 4px 20px;
  overflow: hidden;
  text-decoration: none;
  text-indent: 0;
  line-height: 20px;
  border-radius: 20px;
  color: #333;
  font-size: 13px;
  input[type="file"] {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
  }
}
