.x-header {
  position: fixed;
  width: 100%;
  top: 0;
  height: $headerHeight;
  line-height: $headerHeight;
  text-align: center;
  background: $primary;
  color: $colorWhite;
  z-index: $zIndexHeader;
  .header-left, .header-right {
    width: $headerHeight;
    height: $headerHeight;
  }
  .header-left {
    float: left;
  }
  .header-right {
    float: right;
  }
  h1 {
    position: absolute;
    left: $headerHeight * 1.5;
    right: $headerHeight * 1.5;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    span {
      padding: 6px 20px;
      background: rgba(0, 0, 0, 0.2);
    }
    span:nth-child(1) {
      border-radius: 5px 0 0 5px;
    }
    span:nth-child(2) {
      border-radius: 0 5px 5px 0;
    }
    .active {
      color: $primary;
      background: $colorWhite;
    }
  }
  .mix {
    width: $headerHeight + 14;
    .iconfont {
      font-size: 16px;
    }
  }
}
