.x-line {
  li {
    height: $headerHeight;
    line-height: $headerHeight - 10;
    padding: 5px 10px;
    border-bottom: 1px solid #dbdbdb;
    &:last-child {
      border: none;
    }
    &:hover, &:active {
      background: #ededed;
    }
  }
}
.x-line-select {
  li {
    padding-right: $headerHeight - 10;
    position: relative;
    &.active:after {
      content: '\e637';
      font-family: iconfont!important;
      -webkit-font-smoothing: antialiased;
      color: $primary;
      position: absolute;
      top: $headerHeight - 39;
      right: 12px;
    }
  }
}
.x-line-multi-select {
  li {
    &:before {
      content: '\e720';
      font-family: iconfont!important;
      -webkit-font-smoothing: antialiased;
      color: $primary;
      vertical-align: bottom;
      font-size: 24px;
      margin-right: 4px;
    }
    &.active:before {
      content: '\e721';
    }
  }
}
.x-line-right {
  li {
    padding-right: $headerHeight - 10;
    position: relative;
    &:after {
      content: '\e601';
      font-family: iconfont!important;
      -webkit-font-smoothing: antialiased;
      color: $primary;
      position: absolute;
      font-size: 20px;
      top: $headerHeight - 39;
      right: 12px;
    }
  }
}
