.x-line {
  li {
    height: $headerHeight;
    line-height: $headerHeight - 10;
    padding: 5px 10px;
    position: relative;
    border-bottom: 1px solid #dbdbdb;
    &:last-child {
      border: none;
    }
    &:hover, &:active {
      background: #ededed;
    }
  }
}
.x-line-select {
  li {
    padding-right: $headerHeight - 10;
    &.active:after {
      content: '\e637';
      font-family: iconfont!important;
      -webkit-font-smoothing: antialiased;
      color: $primary;
      position: absolute;
      top: $headerHeight - 39;
      right: 12px;
    }
  }
}
.x-line-multi-select {
  li {
    &:before {
      content: '\e720';
      font-family: iconfont!important;
      -webkit-font-smoothing: antialiased;
      color: $primary;
      vertical-align: bottom;
      font-size: 24px;
      margin-right: 4px;
    }
    &.active:before {
      content: '\e721';
    }
  }
}
.x-line-right {
  li {
    padding-right: $headerHeight - 10;
    &:after {
      content: '\e601';
      font-family: iconfont!important;
      -webkit-font-smoothing: antialiased;
      color: $primary;
      position: absolute;
      font-size: 20px;
      top: $headerHeight - 39;
      right: 12px;
    }
  }
}

.x-switch, .x-switch:before {
  height: 30px;
  width: 50px;
  border-radius: 15px;
  z-index: 10;
}
.x-switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #ccc;
  overflow: hidden;
}
.x-switch:before {
  content: "";
  position: absolute;
  left: -50px;
  background-color: #099FDE;
  transition: left 0.2s ease 0s;
}
.x-switch:after {
  content: "";
  height: 26px;
  width: 26px;
  background-color: #fff;
  border-radius: 15px;
  position: absolute;
  left: 2px;
  top: 2px;
  transition: left 0.2s ease 0s;
  z-index: 13;
}
.x-switch.active:before {
  left: 0;
}
.x-switch.active:after {
  left: 22px;
}
