.nav-list {
  display: flex;
  position: fixed;
  z-index: $zIndexHeader;
  width: 100%;
  text-align: center;
  overflow: hidden;
  li {
    flex: 1;
    position: relative;
  }
}
.x-nav-header {
  top: 44px;
  height: $headerHeight - 4;
  line-height: $headerHeight - 4;
  border-bottom: 1px solid #dbdbdb;
  li {
    font-size: 14px;
  }
  .active {
    border-bottom: 2px solid $primary;
  }
}
.x-nav-footer {
  bottom: 0;
  background: #dfdfdf;
  height: $headerHeight + 6;
  align-items: center;
  .iconfont {
    font-size: 24px;
  }
  p {
    font-size: 10px;
    margin-top: 2px;
  }
  .dot, .text {
    position: absolute;
    display: block;
    padding: 0 4px;
    height: 8px;
    top: 0px;
    left: calc(50% + 13px);
    border-radius: 10px;
    background: $bgDanger;
  }
  .text {
    width: auto;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    color: $colorWhite;
  }
  .active {
    color: $primary;
  }
}
